[Desktop Entry]
Version=1.0
Type=Application
Name=AI Strategy
Comment=Запуск AI Strategy на C# и raylib
Path=/home/rutasan/Strategy
Exec=dotnet run --project /home/rutasan/Strategy/Strategy.csproj
Terminal=false
Categories=Game;StrategyGame;
